*{
    padding: 0px;
    margin: 0px;
}

body{
    background: darkblue;
}

section{
    height: 1000px;
    width: 1100px;
    text-align: center;
    background-color: darkslategray;
    margin-top: 20px;
    margin-left: 100px;
    margin-bottom: 50px;
}

header{
    text-align: center;
    background-color:black;
    color:white;
    font-size: 20px;
}
footer{
    text-align: left;
    background-color:black;
    color:white;
    text-align: center;
    font-size: 20px;
}

#datos{
    height: 150px;
    width: 300px;
    background-color: cornflowerblue;
    float: left;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 20px;
    
}

#prepa{
    height: 110px;
    width: 190px;
    background-color:cornflowerblue;
    float: left;
    margin-right: 20px;
    margin-top: 20px;
}

#hobbies{
    height: 110 px;
    width: 180px;
    background-color: cornflowerblue;
    float: left;
    margin-top: 20px;
    margin-bottom: 100px;
}

#carrera{
    height: 150px;
    width: 280px;
    background-color:cornflowerblue;
    margin-left: 20px;
    margin-top: 50px;
    float: left;
    
}

#materia{
    height: 180px;
    width: 330px;
    background-color: cornflowerblue;
    margin-left: 20px;
    margin-top: 50px;
    float: left;
}

#nomegusta{
    height: 160px;
    width: 330px;
    background-color: cornflowerblue;
    margin-left: 20px;
    margin-top: 20px;
    float: left;
}

#carrera2{
    height: 180px;
    width: 350px;
    background-color: cornflowerblue;
    margin-left: 20px;
    margin-top: 50px;
    float: left;
}

h1{
    font-size: 15px;
    color:black;
    font-style: italic;
}

p{
    font-size: 18px;
    color: black;
    font-style: italic;
}